<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>manma|admin</title>
</head>

<body>

<%= render 'form' %>

<% if @locations.present? %>
  
<p>
  <%= "学生の住所：#{@inputaddress}" %>
</p>

  <% @locations.each do |n| %>
      <% @familyaddress = n.address %>
      <% destinationLat = n.latitude %>
      <% destinationLon = n.longitude %>

      <% endpointUrl = "http://router.project-osrm.org/route/v1/driving/#{@currentPlaceLon},#{@currentPlaceLat};#{destinationLon},#{destinationLat}" %>
      <% @response =  HTTParty.get(URI.encode(endpointUrl)) %>

      <%= "家族の住所：#{@familyaddress}" %>

      <p>
        <%= "距離：#{@response["routes"][0]["distance"]}m" %>
      </p>
  <% end %>
<% end %>

</body>


</html>
